<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Smarple1 DMV</display-name>
  <servlet>
    <description></description>
    <display-name>DMVTactical</display-name>
    <servlet-name>DMVTactical</servlet-name>
    <servlet-class>web.DMVTactical</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DMVTactical</servlet-name>
    <url-pattern>/DMVTactical</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DMVFederated</display-name>
    <servlet-name>DMVFederated</servlet-name>
    <servlet-class>web.DMVFederated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DMVFederated</servlet-name>
    <url-pattern>/DMVFederated</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin-only</web-resource-name>
      <url-pattern>/Admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DMVTactical-only</web-resource-name>
      <url-pattern>/CommandDMVTactical/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dmv-tactical</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
    <security-constraint>
    <web-resource-collection>
      <web-resource-name>DMVFederated-only</web-resource-name>
      <url-pattern>/CommandDMVFederated/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dmv-tactical</role-name>
      <role-name>dmv-federated</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/WEB-INF/login/login.jsp</form-login-page>
      <form-error-page>/WEB-INF/login/login.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>